
.navbar{
    background-color: white;
}
#hero_box_1{
    background-image: url('images/bg_banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120vh;
}
#hero_box_2{
    background-image: url('images/bg_banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120vh;
}

#hero_content_1{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.437);
}

#hero_content_2{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.437);
}

#hero_text_box_1{
    color: white;
    padding: 20rem 0 0 13rem;
}
#hero_text_box_1  h1,h6{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 700;
    font-size:60px;
    line-height: 1.2;
  }

#hero_text_box_2{
    color: white;
    padding: 20rem 0 0 0;
    text-align: center;
}

#hero_text_box_2  h1,h6{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 700;
    font-size:60px;
    line-height: 1.2;
  }

  #about_section{
    height: 90vh;
    background-color:#ffffffc4;
align-content: center;
  }
  
  .about_img_box img{
     min-width: 360px;
  }

  .about_card_logo{
    display: flex;
    flex-direction: column;
  }